<section id="header">
            <div class="header container">
                <div class="nav-bar">
                    <div class="brand">
                        <a href="{% url 'home' %}"><h1><span>J</span>oesh_<span>G</span>ichon</h1></a>
                    </div>
                    <div class="nav-list">
                        <div class="hamburger">
                            <div class="bar"></div>
                        </div>
                        <ul>
                            <li><a href="{% url 'home' %}" data-after="Home">Home</a></li>
                            <li><a href="{% url 'services' %}" data-after="Services`">Services</a></li>
                            <li><a href="{% url 'projects' %}" data-after="Project">Projects</a></li>
                            <li><a href="{% url 'about' %}" data-after="About">About</a></li>
                            <li><a href="{% url 'contact' %}" data-after="Contact">Contact</a></li>
                            <li><a href="{% url 'signup'  %}" data-after="signup" >SignUp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>