{% extends 'index.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block body %}
<section id="projects">
           <div class="projects container">
               <div class="projects-header">
                   <h1 class="section-title">Recent <span>Projects</span> </h1>
               </div>
               <div class="all-projects">
                   <div class="project-item">
                       <div class="project-info">
                           <h1>Project 1</h1>
                           <h2>Coding is love</h2>
                           <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam repudiandae nihil laudantium commodi delectus debitis doloribus quam natus. Quae repudiandae ex possimus labore vel eaque est illo ipsum pariatur!
                           </p>
                       </div>
                       <div class="project-img">
                           <!--<img src="./img/img-1.png" alt="project image"> -->
                           <img src="{% static 'img/img-1.png' %}" alt="project image">
                       </div>
                   </div>
                   <div class="project-item">
                       <div class="project-info">
                           <h1>Project 2</h1>
                           <h2>Coding is love</h2>
                           <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam repudiandae nihil laudantium commodi delectus debitis doloribus quam natus. Quae repudiandae ex possimus labore vel eaque est illo ipsum pariatur!
                           </p>
                       </div>
                       <div class="project-img">
                            <img src="{% static 'img/img-1.png' %}" alt="project image">
                       </div>
                   </div>
                   <div class="project-item">
                       <div class="project-info">
                           <h1>Project 3</h1>
                           <h2>Coding is love</h2>
                           <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam repudiandae nihil laudantium commodi delectus debitis doloribus quam natus. Quae repudiandae ex possimus labore vel eaque est illo ipsum pariatur!
                           </p>
                       </div>
                       <div class="project-img">
                             <img src="{% static 'img/img-1.png' %}" alt="project image">
                       </div>
                   </div>
                   <div class="project-item">
                       <div class="project-info">
                           <h1>Project 4</h1>
                           <h2>Coding is love</h2>
                           <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam repudiandae nihil laudantium commodi delectus debitis doloribus quam natus. Quae repudiandae ex possimus labore vel eaque est illo ipsum pariatur!
                           </p>
                       </div>
                       <div class="project-img">
                             <img src="{% static 'img/img-1.png' %}" alt="project image">
                       </div>
                   </div>
                   <div class="project-item">
                       <div class="project-info">
                           <h1>Project 5</h1>
                           <h2>Coding is love</h2>
                           <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam repudiandae nihil laudantium commodi delectus debitis doloribus quam natus. Quae repudiandae ex possimus labore vel eaque est illo ipsum pariatur!
                           </p>
                       </div>
                       <div class="project-img">
                             <img src="{% static 'img/img-1.png' %}" alt="project image">
                       </div>
                   </div>
               </div>
           </div>
       </section>
{% endblock %}